.jumbotron {
  background-image: url("../images/Breath-of-the-wild-background.jpg");
  background-size: stretch;
  background-position: center;
  color: white;
  height: 100vh;
  padding-top: 100px;
  padding-left: 50px;
  margin-bottom: 0;
}


#introduction-container {
  margin-top: 22%;
  margin-left: 60%;
}
