.jumbotron {
  background-image: url("../images/ganon-background.jpg");
  background-size: stretch;
  background-position: center;
  color: white;
  height: 100vh;
  padding-left: 50px;
  margin-bottom: 0;
}

h1 {
  color: black;
}

.btn-warning {
  background-color: black;
  color: white;
  border: 1px solid black;
}
