/* ================================================================================
GENERAL STYLES
================================================================================ */



/* ================================================================================
NAVIGATION
================================================================================ */
.navbar {
  text-align: left;
  background-color: transparent;
  position:fixed;
  top:0;
}

nav .container {
  margin: auto;
  max-width: 1200px;
}

.nav-link,
.navbar-brand {
  color: white;
}

.nav-item {

  cursor: pointer;
}




/* ================================================================================
MAIN
================================================================================ */

/* ================================================================================
JUMBOTRON
================================================================================ */

h1,
h4 {
  font-weight: 100;
}



.jumbotron {
  background-image: url("../images/Majoras-Mask-Image.jpg");
  background-size: stretch;
  background-position: center;
  color: white;
  height: 100vh;
  padding-top: 100px;
  padding-left: 50px;
  margin-bottom: 0;
}
