/* ================================================================================
GENERAL STYLES
================================================================================ */




/* ================================================================================
NAVIGATION
================================================================================ */

.navbar {
  text-align: center;
}

.nav-item {
  padding: .6rem;
  cursor: pointer;
}
