/* ================================================================================
GENERAL STYLES
================================================================================ */



/* ================================================================================
NAVIGATION
================================================================================ */

.navbar {
  text-align: left;
  background-color: transparent;
  position:fixed;
  top:0;
  margin-left: 1%;
}

#navbarNav {
  text-align: right;
}

nav .container {
  margin: auto;
}

.nav-link,
.navbar-brand {
  color: white;
}

.nav-item {
  cursor: pointer;
}

/* ================================================================================
MAIN
================================================================================ */

/* ================================================================================
JUMBOTRON
================================================================================ */

h1 {
  font-weight: 400;
  color: orange;
  font-size: 2.5rem;
  margin: .5rem 0;
}

h4 {
  font-weight: 100;
}

.jumbotron {
  background-image: url("../images/Majoras-Mask-Image.jpg");
  background-size: stretch;
  background-position: center;
  color: white;
  height: 100vh;
  padding-top: 100px;
  padding-left: 50px;
  margin-bottom: 0;
}

#introduction-container {
  margin-top: 20%;
  margin-left: 3%;
}
