.jumbotron {
  background-image: url("../images/retro-zelda.jpg");
  background-size: stretch;
  background-position: center;
  color: white;
  height: 100vh;
  padding-top: 100px;
  padding-left: 50px;
  margin-bottom: 0;
}

h1 {
  color: #D15471;
}

.btn-custom {
  color: white;
  background-color: #1C0033;
  border: 1px solid #D15471;
}
